.interna-portifolio{
    background: url("../img/bg-portfolio.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.quote_cliente{
    padding: 60px 0;
    max-width: 500px;
    margin: 0 auto;
}

.quote_cliente p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
}

.quote_cliente cite{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    font-style: normal;
    float: right;
    margin-bottom: 20px;
    padding: 20px 0;
}
/* plugin slide */
.rslides, .rslides_portifolio {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }
  
  .rslides li , .rslides_portifolio li{
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child , .rslides_portifolio li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img, .rslides_portifolio img {
    display: block;
    height: auto;
  
    width: 100%;
    border: 0;
    }

    .rslides_tabs {
        text-align: center;
        padding-top: 10px;

    }

    .rslides_tabs li {
        display: inline;
        margin: 0 5px;
        
    }

    .rslides_tabs li a{
        display:  inline-block;
        width: 15px;
        height: 15px;
        background: #1d1d1d;
        color: #1d1d1d;
        border-radius: 20px;
        overflow: hidden;
        text-indent: -200px;
    }

    .rslides_tabs li.rslides_here a{
        background: #fec63e;
        color: #fec63e;
    }


    

    